In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np
import warnings; warnings.filterwarnings('ignore')

In [ ]:
book = pd.read_csv("/content/drive/Shareddrives/2022-2 KUBIG 추천시스템/2팀/6주차/도서 추천시스템/Watchapedia_book_DB_added2.csv", encoding='cp949')
movie = pd.read_csv("/content/drive/Shareddrives/2022-2 KUBIG 추천시스템/2팀/6주차/도서 추천시스템/Movie_DB_added2.csv", encoding='cp949')

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 10 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Column1  2244 non-null   int64
 1   제목       2244 non-null   object
 2   원제       2244 non-null   object
 3   제작연도     2243 non-null   float64
 4   국가       2244 non-null   object
 5   장르       2215 non-null   object
 6   상영시간     2244 non-null   object
 7   연령등급     2145 non-null   object
 8   내용       2244 non-null   object
 9   리뷰       2244 non-null   object
dtypes: float64(1), int64(1), object(8)
memory usage: 175.4+ KB

In [ ]:
movie=movie.drop(columns=['Column1', '원제', '국가', '상영시간', '연령등급', '리뷰'])

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      2244 non-null   object
 1   제작연도    2243 non-null   float64
 2   장르      2215 non-null   object
 3   내용      2244 non-null   object
dtypes: float64(1), object(3)
memory usage: 70.2+ KB

In [ ]:
book.info()

In [ ]:
book=book.drop(columns=['Column1', '부제', '저자', '페이지수', '연령등급','리뷰'])

In [ ]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      210 non-null    object
 1   카테고리    210 non-null    object
 2   출간연도    210 non-null    int64
 3   내용      210 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.7+ KB

In [ ]:
book=book[['제목', '출간연도', '카테고리', '내용']]
book.info()

In [ ]:
movie.columns=['제목', '연도', '카테고리', '내용']
book.columns=['제목', '연도', '카테고리', '내용']

In [ ]:
movie.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2244 entries, 0 to 2243
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      2244 non-null   object
 1   연도      2243 non-null   float64
 2   카테고리    2215 non-null   object
 3   내용      2244 non-null   object
dtypes: float64(1), object(3)
memory usage: 70.2+ KB

In [ ]:
book.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   제목      210 non-null    object
 1   연도      210 non-null    int64
 2   카테고리    210 non-null    object
 3   내용      210 non-null    object
dtypes: int64(1), object(3)
memory usage: 6.7+ KB

In [ ]:
movie['제목']=movie['제목']+"*"
movie.head()

,제목,연도,카테고리,내용
0,물방울을 그리는 남자*,2020.0,다큐멘터리,50년간 묵묵히 '물방울'만을 그리며?물방울 작가로 사랑받은 화가 김창열. 침묵과 ...
1,2차 송환*,2022.0,다큐멘터리,"""한국전쟁은 아직 끝나지 않았다!""?\n\n현재까지 남과 북은 정치 공작원들을 상호..."
2,달이 지는 밤*,2020.0,모험,중년의 여인이 무주 시외버스 터미널에서 내린다. 그녀는 마을길을 지나 숲으로 들어간...
3,썬더버드*,2021.0,범죄/액션,돈이 미치게 필요한 태균\n돈이 든 자동차를 잃어버린 태민\n돈은 중요하지 않은 미...
4,기기묘묘*,2022.0,공포/액션/스릴러,"땅을 둘러 싼 이웃들의 다툼,?엄마와 딸의 기이한 관계,?낙향한 청년과 괴인의 기묘..."

In [ ]:
movieplusbook=pd.concat([movie, book])
movieplusbook

,제목,연도,카테고리,내용
0,물방울을 그리는 남자*,2020.0,다큐멘터리,50년간 묵묵히 '물방울'만을 그리며?물방울 작가로 사랑받은 화가 김창열. 침묵과 ...
1,2차 송환*,2022.0,다큐멘터리,"""한국전쟁은 아직 끝나지 않았다!""?\n\n현재까지 남과 북은 정치 공작원들을 상호..."
2,달이 지는 밤*,2020.0,모험,중년의 여인이 무주 시외버스 터미널에서 내린다. 그녀는 마을길을 지나 숲으로 들어간...
3,썬더버드*,2021.0,범죄/액션,돈이 미치게 필요한 태균\n돈이 든 자동차를 잃어버린 태민\n돈은 중요하지 않은 미...
4,기기묘묘*,2022.0,공포/액션/스릴러,"땅을 둘러 싼 이웃들의 다툼,?엄마와 딸의 기이한 관계,?낙향한 청년과 괴인의 기묘..."
...,...,...,...,...
205,0년,2016.0,역사/문화,1945년이라는 한 해를 대상으로 세계사를 써내려간 독특한 역사서이자 논픽션 다큐멘...
206,아날로그의 반격,2017.0,사회과학,"디지털 라이프가 영구적인 현실이 된 지금, 새로운 얼굴을 한 아날로그가 유행하기 시..."
207,마이클 케인의 연기 수업,2017.0,예술/대중문화,세계적인 명배우 마이클 케인이 배우를 꿈꾸는 이들에게 자신의 연기 노하우를 생생하게...
208,아프리카 우화집,2009.0,소설,야생의 땅 아프리카가 들려주는 옛이야기 스물아홉 편을 우화집으로 엮었다. 아프리카 ...
209,노마드랜드,2021.0,사회과학,미국에서 고정된 주거지 없이 자동차에서 살며 저임금 떠돌이 노동을 하는 사람들의 삶...

In [ ]:
address='/content/drive/Shareddrives/2022-2 KUBIG 추천시스템/2팀/7주차/'

In [ ]:
movieplusbook.to_csv(path_or_buf=address+'movie+book.csv')